__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/

.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.nox/
.tox/

.ipynb_checkpoints/
